<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.basicServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimeTablesServlet</display-name>
    <servlet-name>TimeTablesServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.TimeTablesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeTablesServlet</servlet-name>
    <url-pattern>/TimeTablesServlet</url-pattern>
  </servlet-mapping>
  
  <!--  error page 설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404/404.jsp</location>
  </error-page>
  
   <error-page>
  	<error-code>500</error-code>
  	<location>/error/500/500.html</location>
  </error-page>
  
  <error-page>
  <!-- class full name : 패키지.클래스명 -->
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/error/type/arithmetic.jsp</location>
  </error-page>
  
  <error-page>
  <!-- class full name : 패키지.클래스명 -->
  	<exception-type>java.lang.RuntimeException</exception-type>
  	<location>/error/type/runError.jsp</location>
  </error-page>
  
  
  
  
</web-app>